---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";


$mylinkcolor: #445879;
$masthead-link-color: $mylinkcolor;
$link-color: $mylinkcolor;
$footer-background-color: #c8e4ee;
   


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__hero--overlay {
    background-attachment: fixed;
    background-size: contain;
    background-position: top;
    padding: 0 0 6em;
}

@media all and (max-width: 1170px){
    .page__hero--overlay {
        background-size: 180vw;
    }

}
.greedy-nav {background: transparent;}
.page__content p {text-align: justify;}
.page__footer-copyright {color: $mylinkcolor;}
.nav__sub-title {color: $mylinkcolor;}
.page__footer { 
	background-image: url(/assets/images/r1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed; 
}
.page__footer-copyright {
    color: #fff;
    text-shadow: 0px 0px 7px #000;
}
.page__footer footer {  margin-top: 1em;     padding-bottom: 1em;}
.greedy-nav a:before { color: $mylinkcolor; }
.masthead__menu-item span { font-weight: bold; color:$mylinkcolor;/* text-shadow: 4px 4px 4px #435779; cursor:default;*/ }
.masthead {
    position: sticky;
    background: white;
    top:0;
}
.masthead__inner-wrap {
    max-width: 9999px;
}
.sidebar.sticky {
    top: 89px;
}


.page__content ul li {
    list-style-position: inside;
    list-style-type: square;
}

details  *:not(summary) {
    padding-left: 1em;
}

summary {
    font-weight: bold;
	cursor: pointer;
}

.mfp-close {
	cursor: pointer;
}