---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";


$mylinkcolor: #445879;
$masthead-link-color: $mylinkcolor;
$link-color: $mylinkcolor;
$footer-background-color: #c8e4ee;
   


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


.page__content p {text-align: justify;}
.page__footer-copyright {color: $mylinkcolor;}
.nav__sub-title {color: $mylinkcolor;}
.page__footer { 
	background-image: url(/assets/images/r1.jpg);
    	background-size: cover;
    	background-repeat: no-repeat;
  	background-position: bottom; 
}
.page__footer-copyright {
    color: #fff;
    text-shadow: 0px 0px 7px #000;
}
.page__footer footer {  margin-top: 1em;     padding-bottom: 1em;}
.masthead__menu-item span {text-shadow: 4px 4px 4px #435779; cursor:default;}
.masthead {
    position: sticky;
    background: white;
    top:0;
}

.sidebar.sticky {
    top: 89px;
}

figure {
    display: inline-block;
}

