---
layout: compress
---
<!doctype html>
<html lang="{{ page.lang | default: "ru" }}" class="no-js">
  <head>
    <link rel="canonical" href="https://skalasb.com{{ page.url }}" />
git -->
    {% include head.html %}
    {% include head/custom.html %}
    {% if page.lang != 'en' %}
      <!-- <script src="/assets/js/en.js"></script> --> 
    {% endif %}
    <meta name="yandex-verification" content="e1fae5eff2dd787a" />
    {%- if page.sitemap == false or p.dir == '/_/'-%}
      <meta name="robots" content="noindex">
    {%- endif -%}
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">
    {% include_cached browser-upgrade.html %}
    {% if page.place != '404' %}
      {% include masthead.html %}
    {% endif %}

    <div class="initial-content">
      {{ content }}
    </div>

    {% if site.search == true %}
      <div class="search-content">
        {% include_cached search/search_form.html %}
      </div>
    {% endif %}

    <div class="page__footer">
      <footer>        
        <div class="page__footer-copyright">
		{% if page.lang == 'en' %}
		        &copy; Skala Reinsurance Brokers Ltd <span style="float: right;">Last edit: {{ site.time }}</span>
		{% else %}
			&copy;  «Скала Страховой Брокер» ООО. Все права защищены <span style="float: right;">Последние изменения: {{ site.time }}</span>
		{% endif %}
	 </div>        
      </footer>
    </div>

    {% include scripts.html %}

    {%- if page.sitemap != false -%}
      {%- include google-gtag.html -%}
      {%- include yandex-metr.html -%}
      <!-- {%- include facebook-pixel.html -%}
      {%- include vk-pixel.html -%} -->
    {%- endif -%}


  </body>
</html>
